<!DOCTYPE html>
<html>
<head>
    <title>Buy cool new product</title>
    <style>

    </style>
</head>
<body>
<div class="fa-shopping-basket">
    <a href="{% url 'basket' 1 %}">
        <button>Basket</button>
    </a>
</div>
<section>
    <div class="product">
        <div class="description">
            {% for item in item_list %}
                <a href="{% url 'item_detail' item.id %}"><h3>{{ item.name }}</h3></a>
                <h4>{{ item.description }}</h4>
                <h5>{{ item.get_float_price }} {{ item.currency }}.</h5>
                <form action="{% url 'add_product' item.id %}" method="post">
                    <button>Добавить в корзину</button>
                    {% csrf_token %}
                </form>
                <br>
            {% endfor %}
        </div>
    </div>
</section>
{% csrf_token %}
</body>
<script>

</script>
</html>